{% extends 'base.html.twig' %}
{% set id = 0 %}
{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <td>
                    #
                </td>
                <td>
                    Title
                </td>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Email Address
                </td>
                <td>
                    Telephone
                </td>
                <td>
                    Message
                </td>
                <td>
                    Admin Replied
                </td>
                <td>
                    Actions
                </td>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                {% set id = id + 1 %}
                <tr>
                    <td>
                        <span class="{{ message_reply(contact.createdDate) }}">
                            {{ id }}
                        </span>
                    </td>
                    <td>
                        {{ contact.title|capitalize }}
                    </td>
                    <td>
                        {{ contact.firstName|capitalize }}
                    </td>
                    <td>
                        {{ contact.lastName|capitalize }}
                    </td>
                    <td>
                        {{ contact.email ?? 'No Email' }}
                    </td>
                    <td>
                        {{ contact.telephone }}
                    </td>
                    <td>
                        {{ contact.message }}
                    </td>
                    <td>
                        {{ (contact.adminReplied == 1) ? "Yes" : 'No' }}
                    </td>
                    <td>
                        {% if contact.adminReplied != 0 %}
                            <form action="{{ path('app_archive_contact_message') }}" method="POST">
                                <input type="hidden" name="contact_id" value="{{ contact.id }}">
                                <button
                                    type="submit"
                                    class="btn btn-warning"
                                >
                                    Archive Message
                                </button>
                            </form>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('app_manage_contact', {id: contact.id}) }}">
                                Admin Reply
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginator/paginator.html.twig' %}
{% endblock %}
