<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
    <li><a href="{{ path('app_contact') }}" class="nav-link px-2 link-dark">Contact</a></li>
    <li><a href="{{ path('app_about') }}" class="nav-link px-2 link-dark">About</a></li>
</ul>

<div class="col-md-3 text-end">
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{{ path('app_sign_up') }}" class="btn btn-primary">Sign-up</a>
    {% else %}
        <a href="{{ path('app_edit_account', { user_id: app.user.getId() }) }}" class="btn btn-outline-primary me-2">Edit Account</a>
        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger me-2">Logout</a>
    {% endif %}
</div>
